/** ++++++++++++++++++++++++++++++++++++ Vue-Select CSS +++++++++++++++++++++++++++++++++++++++++++++ */

.faveo-dynamic-select .vs__dropdown-toggle {
    width: 100%;
    line-height: 1.4;
    display: flex;
    padding: 0 0 3px 0;
    border: 1px solid rgba(60, 60, 60, 0.26);
    border-radius: 0px;
  }
  
  .faveo-dynamic-select .vs__selected {
    margin: 3px;
  }
  
  .faveo-dynamic-select .vs__dropdown-menu {
    max-height: 200px;
  }
  
  .faveo-dynamic-select .vs__dropdown-toggle {
    padding: 0px;
    border-radius: 0px;
    border: 1px solid #d2d6de;
  }
  
  .faveo-dynamic-select .vs__selected-options {
    padding: 0px;
  }
  
  .faveo-dynamic-select .vs__actions {
    padding: 0 5px 0 3px;
  }
  
  .faveo-dynamic-select .vs__search, .vs__search:focus {
    margin: 5px;
  }
  